.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    padding: 250px 0;
    display: none;
    .modal {
        width: 300px;
        min-height: 300px;
        background: #fff;
        display: block;
        margin: 0 auto;
        padding: 25px 35px;
        border-radius: 20px;
        position: relative;
        display: none;
        &__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
    
            color: #000;
            text-align: center;
        }
        form {
            text-align: center;
            margin-top: 50px;
        }
        &__input {
            background: #FFFFFF;
            border-radius: 30px;
            width: 225px;
            height: 35px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #000;
            padding-left: 25px;
            border: 1px solid rgba(0, 0, 0, .3);
            margin-bottom: 10px;
        }
        &__close {
            position: absolute;
            font-size: 50px;
            font-weight: 400;
            top: -10%;
            left: 103%;
            color: #fff;
            cursor: pointer;
        }
        &__price {
            width: 300px;
            min-height: 300px;
            background: #fff;
            display: block;
            margin: 0 auto;
            padding: 25px 35px;
            border-radius: 20px;
            position: relative;
            display: none;
            .modal__cena {
                text-align: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 25px;
                text-align: center;
                letter-spacing: .05em;
                color: #000;
                margin-top: 20px;
            }
            .modal__image {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}  