.promo {
    min-height: 604px;
    padding: 192px 0 193px 0;
    background: url(../../image/bgcolor.png) center center / cover no-repeat;
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;

        color: #FFFFFF;
    }
    &__descr {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        width: 308px;
        margin-top: 50px;
    }
}